/// <reference path="api.d.ts" />

export interface {{name}}{
'use strict';
    {{#properties}}
        /**
        * {{{description}}}
        */
        {{name}}:{{type}};
    {{/properties}}
    }
}

{{#enums}}
export enum {{name}} {
    {{#entities}}
    {{name}} = <any> '{{name}}',
    {{/entities}}
}
{{/enums}}
