export class {{name}}Service{
    private basePath = 'http://localhost/';
    
    static $inject: string[] = ['$http', '$httpParamSerializer'];

    constructor(private $http: ng.IHttpService, basePath?: string, private $httpParamSerializer?: (d: any) => any) {
            if (basePath) {
                this.basePath = basePath;
            }
        }
    {{#methods}}
    public {{operationId}}(
            {{#parameters}}
                {{name}}: {{type}}
            {{/parameters}}
        ){
       // {{description}}
        let path = this.basePath + '{{link}}';
}
    {{/methods}}
}
