export class ExtendedChanceOverride{
    {{#models}}
    public static {{name}}(defaultResultFn: () => {{name}}, extendedChance: ExtendedChance): {{name}} {
        var result = defaultResultFn();
        {{#properties}}
        //result.{{name}} = {{#isArray}}extendedChance.unique({{/isArray}}extendedChance.{{type}}{{#isArray}}, 40){{/isArray}}{{^isArray}}(){{/isArray}}{{#suffixFunc}}.{{content}}{{/suffixFunc}};
        {{/properties}}
        return result;
    }
    {{/models}}
}
