'use strict';
export interface {{name}}{
    {{#properties}}
        /**
        * {{{description}}}
        */
        {{name}}{{^isRequired}}?{{/isRequired}}: {{type}}{{#isArray}}[]{{/isArray}};
    {{/properties}}
    
}
 